version: 2
jobs:
  build:
    docker:
      - image: circleci/node:12.0.0
    resource_class: medium+
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-

      - run: yarn install
      - run: ./pbjs.sh
      - run: ./integration/pbjs.sh

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run: yarn test
