name: Build

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: install dependencies
        run: yarn install
      - name: Prepare Integration
        run: ./integration/pbjs.sh
      # This will fail if any git-tracked file has changed
      - name: Codegen
        run: yarn bin2ts
      - name: Diff Output
        run: git status && git diff --exit-code
      - name: test
        run: yarn test
        env:
          CI: true
      - name: test esmodule interop
        working-directory: ./integration/simple-esmodule-interop
        run: |
          yarn install
          yarn tsc
          yarn jest
        env:
          CI: true

  release:
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16.x
      - name: Install
        run: yarn install
      - name: Build
        run: yarn build
      - name: Release
        id: release
        run: yarn semantic-release
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    outputs:
      release_version: ${{ steps.release.outputs.release_version }}
