name: Lint

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: install dependencies
        run: yarn install
      - name: Prepare Integration
        run: ./integration/pbjs.sh
      - name: Codegen
        run: yarn bin2ts
      - name: TypeScript
        run: yarn tsc:check
        env:
          CI: true
      - name: Prettier
        run: yarn format:check
        env:
          CI: true
